LICENSE
.vscode/
.idea/
.venv/
venv/
*.log
__pycache__/
*.py[cod]
.env
.env.*
.DS_Store
Thumbs.db
image.png
.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfvars
!*.example.tfvars
*.deb
tfplan